body.dragging, body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

.col-md-9,
.col-md-3 {
    height: 100vh;
}

.col-md-9 {
    background-color: green;
}

.col-md-3 {
    background-color: white;
    overflow: hidden;
    padding: 0px;
}

.col-md-3 div {
    position: relative;
    float: left;
    clear: both;
    display: block;
    width: 100%;
}

.col-md-3 div.title {
    padding: 10px;
    background-color: #095DD9;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    height: 40px;
    text-align: center;
}

.col-md-3 div.buttons {
    height: 40px;
}

.col-md-3 div.buttons button {
    position: relative;
    float: left;
    display: block;
    width: 50%;
    height: 40px;
    margin: 0px;
    cursor: pointer;
    border: 0;
    color: #FFF;
}

.col-md-3 div.buttons button#calc {
    background-color: #4CAF50;
}

.col-md-3 div.buttons button#todos {
    background-color: hwb(342 30% 31%);
    width: 100%;
}

.col-md-3 div.buttons button#print {
    background-color: #757575;
}

.col-md-3 div.buttons button#cargar {
    background-color: #10d7e6;
}

.col-md-3 div.items {
    height: calc(100vh - 120px);
    overflow: auto;
    background-color: white;
    background-image: url("../img/logo.jpeg");
    background-repeat: no-repeat;
    background-position: center;
}

ol {
    list-style-type: none;
    padding: 0;
    margin: 5px 10px;
    width: calc(100% - 20px);
    position: relative;
    float: left;
    clear: both;
    display: block;
}

ol li {
    position: relative;
    float: left;
    clear: both;
    display: block;
    width: 100%;
    /*background-color: #C8E6C9;*/
    margin: 0;
    margin-top: 5px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}

ol li div.index {
    border-radius: 5px 0px 0px 5px;
    background-color: #388E3C;
    color: #FFF;
    text-align: center;
    position: relative;
    float: left;
    display: block;
    padding: 5px;
    width: 32px;
    clear: left;
}

ol li div.indice {
    border-radius: 5px 0px 0px 5px;
    background-color: #383c4a;
    color: #FFF;
    text-align: center;
    position: relative;
    float: left;
    display: block;
    padding: 5px;
    width: 32px;
    height: 100%;
    clear: left;
}

ol li div.text {
    position: relative;
    float: left;
    display: block;
    padding: 5px;
    clear: none;
    width: calc(100% - 42px);
}

ol li div.textToast {
    position: relative;
    background-color: #7c818c;
    float: left;
    display: block;
    padding: 5px;
    clear: none;
    width: calc(100% - 42px);
}


@media print {
    @page {size: landscape}
    .col-md-9 {
        width: 100%;
    }
    .col-md-3 {
        display: none;
    }
    #toast-container {
        display: none;
    }
}

#toast-container {
    background: #095DD9;
}

#toast-container > .toast {
    max-width: 400px;
    width: 90%;
}


.preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin:-30px 0 0 -30px;
    -webkit-animation:spin .7s linear infinite;
    -moz-animation:spin .7s linear infinite;
    animation:spin .7s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.preloader img {
  width: 100%;
}